<header>
  <div class="container">
    <a href="#" class="logo-wordmark link-subtle">
      Helpful
    </a>

    <nav>
      <ul class="nav nav-light">
        <li><a href="#" class="text-uppercase link-subtle">Documentation</a></li>
        <li><a href="#" class="text-uppercase link-subtle">Build Helpful</a></li>
        <li>
          <a href="#" class="btn btn-subtle text-uppercase">Log in</a>
        </li>
        <li>
          <a href="#" class="btn btn-danger text-uppercase">Sign up</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
