<div class="bg-primary hero">
  <div class="container text-white">

    <h1 class="text-center text-white">
      Help that doesn't hurt
    </h1>
    <p class="text-center">
      Helpful is a simple support tool that you won't need help using.
    </p>

    <p class="text-center">
      Just ask. <br />
      <%= image_tag "helpful-conversation-placeholder.png", :class => 'demo' %>
    </p>

  </div>
</div>
