@import 'addons/clearfix';

.nav {
  @include clearfix;
  margin-top: 0;
  margin-bottom: 0;

  > li {
    list-style-type: none;
    float: left;

    > a {
      display: block;
      &.btn {
        padding: 0 12px;
      }
    }
  }
}

.nav-light {
  > li {
    padding-left: 20px;

    > a {
      font-size: 0.65em;
      padding-right: 0;
      padding-left: 0;

      &:hover {
        background: none;
      }

    }
  }
}
